* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.lp-body {
  font-family: "Poor Story", cursive;
  color: #667b87;
  position: relative;
}
.lp-body .cursor {
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.lp-body .balloon-wrapper {
  width: 100vw;
  height: 100vh;
  animation: floating 1s infinite ease-in-out 0.8s alternate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lp-body .balloon-wrapper .balloon-body {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: white;
  border: 2.5px solid #72DDF7;
  position: relative;
  cursor: pointer;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper {
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #DDDDDD;
  position: relative;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .left-eyeball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #667b87;
  position: absolute;
  top: 20%;
  left: 39%;
  z-index: 1000;
  transition: transform linear 0.2s;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball {
  visibility: hidden;
  width: 22px;
  height: 1px;
  background-color: #667b87;
  border: 1px solid #667b87;
  position: absolute;
  top: 45%;
  left: 30%;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball::after {
  content: "";
  display: inline-block;
  width: 18px;
  background-color: #667b87;
  border: 1px solid #667b87;
  transform: rotate(45deg);
  position: absolute;
  top: -7.5px;
  left: 20%;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball::before {
  content: "";
  display: inline-block;
  width: 18px;
  background-color: #667b87;
  border: 1px solid #667b87;
  transform: rotate(-45deg);
  position: absolute;
  top: 5.5px;
  left: 20%;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #DDDDDD;
  position: relative;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .right-eyeball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #667b87;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 1000;
  transition: transform linear 0.2s;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball {
  visibility: hidden;
  width: 22px;
  height: 1px;
  background-color: #667b87;
  border: 1px solid #667b87;
  position: absolute;
  top: 45%;
  left: 10%;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball::after {
  content: "";
  display: inline-block;
  width: 18px;
  background-color: #667b87;
  border: 1px solid #667b87;
  transform: rotate(-45deg);
  position: absolute;
  top: -7.5px;
  left: -22%;
}
.lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball::before {
  content: "";
  display: inline-block;
  width: 18px;
  background-color: #667b87;
  border: 1px solid #667b87;
  transform: rotate(45deg);
  position: absolute;
  top: 5.5px;
  left: -22%;
}
.lp-body .balloon-wrapper .balloon-tail {
  width: 20px;
  height: 20px;
  opacity: 0.9;
  background-color: #72DDF7;
  border: 2px solid #72DDF7;
  clip-path: polygon(0% 100%, 20% 0%, 80% 0%, 100% 100%);
}
.lp-body .balloon-wrapper .balloon-string {
  height: 60px;
  background-color: #72DDF7;
  border: 1px solid #72DDF7;
}
.lp-body .bubble-wrapper {
  position: absolute;
  top: 20%;
  right: 2%;
}
.lp-body .bubble-wrapper .bubble {
  width: 7rem;
  height: 4rem;
  border: 2px solid #667b87;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lp-body .bubble-wrapper .bubble .bubble-text {
  font-size: 1.3rem;
}
.lp-body .bubble-wrapper .small-bubbles {
  width: 22px;
  height: 22px;
  border: 2px solid #667b87;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  left: 2%;
}
.lp-body .bubble-wrapper .small-bubbles::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #667b87;
  border-radius: 50%;
  position: absolute;
  bottom: -100%;
  left: -60%;
}
.lp-body .top-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25vh;
  background: linear-gradient(#72DDF7, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lp-body .bottom-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35vh;
  background: linear-gradient(white, #72DDF7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lp-body .bottom-area h1 {
  font-size: 2.5rem;
}
.lp-body .bottom-area p {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .lp-body {
    height: 100vh;
  }
  .lp-body .top-bottom-text {
    padding: 2rem 3rem;
  }
  .lp-body .top-bottom-text p {
    font-size: 3.5rem;
  }
  .lp-body .top-bottom-text .top-text {
    align-self: flex-start;
  }
  .lp-body .top-bottom-text .bottom-text {
    align-self: flex-end;
  }
  .lp-body .balloon-wrapper .balloon-body {
    width: 200px;
    height: 200px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline {
    width: 60px;
    height: 70px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .left-eyeball {
    width: 30px;
    height: 30px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball {
    left: 40%;
    width: 30px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball::after {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(45deg);
    position: absolute;
    top: -10.5px;
    left: 22%;
    width: 25px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball::before {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(-45deg);
    position: absolute;
    top: 8.5px;
    left: 22%;
    width: 25px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline {
    width: 60px;
    height: 70px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .right-eyeball {
    width: 30px;
    height: 30px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball {
    width: 30px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball::after {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(-45deg);
    position: absolute;
    top: -9.5px;
    left: -22%;
    width: 25px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball::before {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: -22%;
    width: 25px;
  }
  .lp-body .balloon-wrapper .balloon-string {
    height: 80px;
  }
  .lp-body .bubble-wrapper {
    top: 20%;
    right: 20%;
  }
  .lp-body .bubble-wrapper .bubble {
    width: 9rem;
    height: 6rem;
  }
  .lp-body .bubble-wrapper .bubble .bubble-text {
    font-size: 1.8rem;
  }
  .lp-body .bubble-wrapper .bubble .small-bubbles {
    width: 25px;
    height: 25px;
  }
  .lp-body .bubble-wrapper .bubble .small-bubbles::after {
    width: 13px;
    height: 13px;
  }
}
@media screen and (min-width: 1024px) {
  .lp-body .top-bottom-text .letter {
    font-size: 4rem;
  }
  .lp-body .balloon-wrapper .balloon-body {
    width: 180px;
    height: 180px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper {
    top: 45%;
    transform: translate(-50%, -50%);
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline {
    width: 55px;
    height: 65px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .left-eyeball {
    width: 25px;
    height: 25px;
    left: 45%;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball {
    width: 35px;
    top: 45%;
    left: 25%;
    border-width: 2px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball::after {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(45deg);
    position: absolute;
    top: -11px;
    left: 30%;
    width: 25px;
    border-width: 2px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .left-eye-outline .changed-left-eyeball::before {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(-45deg);
    position: absolute;
    top: 7px;
    left: 30%;
    width: 25px;
    border-width: 2px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline {
    width: 55px;
    height: 65px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .right-eyeball {
    width: 25px;
    height: 25px;
    left: 8%;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball {
    width: 35px;
    top: 45%;
    left: 13%;
    border-width: 2px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball::after {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(-45deg);
    position: absolute;
    top: -11px;
    left: -30%;
    width: 25px;
    border-width: 2px;
  }
  .lp-body .balloon-wrapper .balloon-body .eyes-wrapper .right-eye-outline .changed-right-eyeball::before {
    content: "";
    display: inline-block;
    width: 18px;
    background-color: #667b87;
    border: 1px solid #667b87;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: -30%;
    width: 25px;
    border-width: 2px;
  }
  .lp-body .balloon-wrapper .balloon-tail {
    width: 30px;
    height: 30px;
  }
  .lp-body .balloon-wrapper .balloon-string {
    height: 100px;
  }
  .lp-body .bubble-wrapper {
    top: 10%;
    right: 20%;
  }
  .lp-body .bubble-wrapper .bubble {
    width: 150px;
    height: 100px;
  }
  .lp-body .bubble-wrapper .bubble .bubble-text {
    font-size: 2rem;
  }
  .lp-body .bubble-wrapper .small-bubbles {
    width: 30px;
    height: 30px;
  }
  .lp-body .bubble-wrapper .small-bubbles::after {
    content: "";
    width: 15px;
    height: 15px;
  }
  .lp-body .bottom-area {
    height: 30vh;
  }
  .lp-body .bottom-area h1 {
    font-size: 3rem;
  }
  .lp-body .bottom-area p {
    font-size: 1.8rem;
  }
}
html {
  scroll-behavior: smooth;
}

.home-body {
  overflow-x: hidden;
  color: white;
  font-family: "Poor Story", cursive;
  position: relative;
}
.home-body::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../images/blue-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(2.5px);
}
.home-body .header-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-body .header-container .title-container {
  text-align: center;
  margin-bottom: 1.5rem;
}
.home-body .header-container .title-container .full-name {
  font-size: 3.5rem;
  font-weight: bold;
}
.home-body .header-container .title-container .occupation {
  font-size: 1.5rem;
}
.home-body .header-container .title-container .icons-container {
  margin-top: 1.5rem;
}
.home-body .header-container .title-container .icons-container i {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.home-body .header-container .arrow-anchor {
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-body .header-container .arrow-anchor .fa-arrow-down {
  animation: floating 1s infinite ease-in-out 0.8s alternate;
  transition: 1.5s ease-in-out;
  font-size: 2rem;
}
.home-body .section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poor Story", cursive;
}
.home-body .section-container section {
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto;
  width: 100vw;
}
.home-body .section-container section h1 {
  margin: 2rem auto 1rem;
  font-size: 2rem;
}
.home-body .section-container section .section-contents {
  background-color: rgba(221, 221, 221, 0.3882352941);
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  height: auto;
}
.home-body .balloon-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 3%;
  right: 3%;
  opacity: 0;
  transform: translateY(200px);
}
.home-body .balloon-wrapper.upMove {
  animation: UpAnimation 0.5s forwards;
}
.home-body .balloon-wrapper.downMove {
  animation: DownAnimation 0.5s forwards;
}
.home-body .balloon-wrapper p {
  margin-bottom: 0.7rem;
}
.home-body .balloon-wrapper .balloon-atag {
  display: inline-block;
}
.home-body .balloon-wrapper .balloon-atag .home-balloon-wrapper {
  animation: floating 1s infinite ease-in-out 0.8s alternate;
  transition: 1.5s ease-in-out;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-body .balloon-wrapper .balloon-atag .home-balloon-wrapper:hover {
  opacity: 1;
}
.home-body .balloon-wrapper .balloon-atag .home-balloon-wrapper .home-balloon-body {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #72DDF7;
  border: 2px solid #72DDF7;
  position: relative;
  cursor: pointer;
}
.home-body .balloon-wrapper .balloon-atag .home-balloon-wrapper .home-balloon-tail {
  width: 7px;
  height: 7px;
  opacity: 0.9;
  background-color: #72DDF7;
  border: 2px solid #72DDF7;
  clip-path: polygon(0% 100%, 20% 0%, 80% 0%, 100% 100%);
}
.home-body .balloon-wrapper .balloon-atag .home-balloon-wrapper .home-balloon-string {
  height: 15px;
  background-color: #72DDF7;
  border: 1px solid #72DDF7;
}
.home-body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 10vh;
  padding: 0.8rem;
  background: linear-gradient(transparent, #4072ae);
}

@media screen and (min-width: 768px) {
  .home-body .header-container .title-container .full-name {
    font-size: 4.5rem;
  }
  .home-body .header-container .title-container .occupation {
    font-size: 2.2rem;
  }
  .home-body .header-container .title-container .icons-container i {
    font-size: 2.2rem;
  }
  .home-body .section-container section h1 {
    font-size: 2.3rem;
  }
  .home-body .section-container section .section-contents {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .home-body .balloon-wrapper {
    right: 2%;
  }
}
.header-nav {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
  text-align: end;
  line-height: 2;
  cursor: pointer;
}
.header-nav .header-nav-item {
  color: white;
  font-size: 1.5rem;
}
.header-nav .header-nav-item:hover {
  transform: scale(1.2);
}
.header-nav .header-nav-item li {
  list-style: none;
}

.main-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  background: linear-gradient(#4072ae, transparent);
  z-index: 10;
  transition: 0.5s;
  opacity: 0;
}
.main-nav.upMove {
  animation: FrameInAnimation 0.5s forwards;
}
.main-nav.downMove {
  animation: FrameOutAnimation 0.5s forwards;
}
.main-nav .main-nav-item {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 1.5rem;
  transition: 0.5s;
}
.main-nav .main-nav-item:hover {
  transform: scale(1.2);
}
.main-nav .main-nav-item li {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin: 1rem auto;
  }
  .header-nav .header-nav-item {
    font-size: 1.7rem;
  }
  .main-nav {
    justify-content: flex-start;
  }
  .main-nav .main-nav-item {
    font-size: 1.2rem;
    margin: 1rem 1rem;
  }
}
@keyframes UpAnimation {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes DownAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(200px);
  }
}
@keyframes FrameInAnimation {
  from {
    opacity: 1;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FrameOutAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-200px);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -7px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes swaing {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
.projects .section-contents .project-list {
  list-style: none;
}
.projects .display-description {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 4rem;
  align-items: stretch;
}
.projects .display-description .project-img-container {
  display: none;
}
.projects .display-description .description-container {
  width: 100%;
  height: 25rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects .display-description .description-container .project-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .display-description .description-container .project-title-container .project-title {
  font-size: 1.5rem;
  color: white;
}
.projects .display-description .description-container .mobile-project-img-container {
  width: 100%;
  height: 30rem;
  background-color: white;
  margin: 1rem auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .display-description .description-container .mobile-project-img-container:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
.projects .display-description .description-container .mobile-project-img-container a {
  color: black;
}
.projects .display-description .description-container .discription-container .project-description {
  font-size: 1.3rem;
}
.projects .display-description .description-container .discription-container .skill-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
}
.projects .display-description .description-container .discription-container .skill-icons i {
  margin: 0.3rem;
  font-size: 1.5rem;
}
.projects .display-description .description-container .discription-container .skill-icons img {
  width: 2rem;
}
.projects .display-description .description-container .github-icon-bubble {
  cursor: pointer;
}
.projects .display-description .description-container .github-icon-bubble .github-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .display-description .description-container .github-icon-bubble .github-link .fa-github {
  color: white;
  font-size: 2rem;
  transform-origin: center bottom;
  animation: swaing 2s linear infinite;
}
.projects .display-description .description-container .github-icon-bubble .github-link .check-github {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
  color: black;
  margin-left: 1.5rem;
  border-radius: 10px;
}
.projects .display-description .description-container .github-icon-bubble .github-link .check-github:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid #e0edff;
  top: 15px;
  left: -20px;
}

@media screen and (min-width: 768px) {
  .projects .display-description {
    display: flex;
    flex-direction: row;
  }
  .projects .display-description .project-img-container {
    display: block;
    width: 100%;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .display-description .project-img-container:hover {
    transform: scale(1.03);
    transition: 0.5s;
  }
  .projects .display-description .project-img-container a {
    color: black;
  }
  .projects .display-description .description-container {
    width: 100%;
    height: 25rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .projects .display-description .description-container .project-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .display-description .description-container .project-title-container .project-title {
    font-size: 1.5rem;
    color: white;
  }
  .projects .display-description .description-container .mobile-project-img-container {
    display: none;
  }
  .projects .display-description .description-container .discription-container .project-description {
    font-size: 1.3rem;
  }
  .projects .display-description .description-container .discription-container .skill-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
  }
  .projects .display-description .description-container .discription-container .skill-icons i {
    margin: 0.3rem;
    font-size: 1.5rem;
  }
  .projects .display-description .description-container .discription-container .skill-icons img {
    width: 2rem;
  }
  .projects .display-description .description-container .github-icon-bubble {
    cursor: pointer;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link .fa-github {
    color: white;
    font-size: 2rem;
    transform-origin: center bottom;
    animation: swaing 2s linear infinite;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link .check-github {
    position: relative;
    padding: 0.6em;
    background: #e0edff;
    color: black;
    margin-left: 1.5rem;
    border-radius: 10px;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link .check-github:before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-right: 10px solid #e0edff;
    top: 15px;
    left: -20px;
  }
}
@media screen and (min-width: 1024px) {
  .projects .display-description .description-container {
    padding: 0 2rem 0 3rem;
  }
  .projects .display-description .description-container .project-title-container .project-title {
    font-size: 1.7rem;
  }
  .projects .display-description .description-container .mobile-project-img-container {
    display: none;
  }
  .projects .display-description .description-container .discription-container .project-description {
    font-size: 1.3rem;
    text-align: start;
  }
  .projects .display-description .description-container .discription-container .skill-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
  }
  .projects .display-description .description-container .discription-container .skill-icons i {
    margin: 0.3rem;
    font-size: 1.5rem;
  }
  .projects .display-description .description-container .discription-container .skill-icons img {
    width: 2rem;
  }
  .projects .display-description .description-container .github-icon-bubble {
    cursor: pointer;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link .fa-github {
    color: white;
    font-size: 2rem;
    transform-origin: center bottom;
    animation: swaing 2s linear infinite;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link .check-github {
    position: relative;
    padding: 0.6em;
    background: #e0edff;
    color: black;
    margin-left: 1.5rem;
    border-radius: 10px;
  }
  .projects .display-description .description-container .github-icon-bubble .github-link .check-github:before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-right: 10px solid #e0edff;
    top: 15px;
    left: -20px;
  }
}
.about-me .section-contents {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.about-me .resume-container {
  order: 2;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.about-me .resume-container .resume-atag {
  position: relative;
}
.about-me .resume-container .resume-atag .resume-img {
  width: 50%;
  min-width: 250px;
  cursor: zoom-in;
}
.about-me .resume-container .resume-atag .resume-img:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
.about-me .resume-container .resume-atag .fa-hand-pointer {
  display: none;
}
.about-me .resume-container .mobile-read-resume-btn {
  font-family: "Poor Story", cursive;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  margin: 0.5rem 2rem;
  color: white;
  background-color: #667b87;
  border: 1.5px solid #DDDDDD;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  margin-top: 1.5rem;
  cursor: pointer;
}
.about-me .resume-container .mobile-read-resume-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.about-me .aboutMe-right-side {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-me .aboutMe-right-side .greeting-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
}
.about-me .aboutMe-right-side .greeting-icon-container h3 {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}
.about-me .aboutMe-right-side p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.about-me .aboutMe-right-side .read-resume-btn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .about-me .section-contents {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .about-me .resume-container {
    order: 1;
  }
  .about-me .resume-container .resume-atag .fa-hand-pointer {
    display: block;
    font-family: Font Awesome\ 6 Free;
    font-size: 1.5rem;
    color: #4072ae;
    animation: swaing 1s linear infinite;
    position: absolute;
    bottom: 5%;
    right: 28%;
  }
  .about-me .resume-container .mobile-read-resume-btn {
    display: none;
  }
  .about-me .aboutMe-right-side {
    order: 2;
  }
  .about-me .aboutMe-right-side .greeting-icon-container h3 {
    font-size: 1.6rem;
  }
  .about-me .aboutMe-right-side p {
    font-size: 1.5rem;
    text-align: start;
  }
  .about-me .aboutMe-right-side .read-resume-btn {
    display: block;
    font-family: "Poor Story", cursive;
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    margin: 0.5rem 2rem;
    color: white;
    background-color: #667b87;
    border: 1.5px solid #DDDDDD;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    margin-top: 1.5rem;
    cursor: pointer;
  }
  .about-me .aboutMe-right-side .read-resume-btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
.contact .contact-text {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem auto;
}
.contact .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .icon-container a {
  color: white;
}
.contact .icon-container i {
  margin: 0.5rem;
  font-size: 1.3rem;
}
.contact .contact-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-section-container form {
  width: 90%;
}
.contact .contact-section-container form table {
  margin: 1rem auto;
  width: 100%;
}
.contact .contact-section-container form table th {
  width: 10%;
  font-size: 1rem;
}
.contact .contact-section-container form table td {
  padding: 0.2rem;
  width: 60%;
}
.contact .contact-section-container form table td input {
  padding: 0.3rem;
  width: 90%;
  font-family: "Poor Story", cursive;
  font-size: 1rem;
}
.contact .contact-section-container form table td textarea {
  width: 90%;
  font-family: "Poor Story", cursive;
  font-size: 1rem;
}
.contact .contact-section-container .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact .contact-section-container .btn-container .send-btn {
  font-family: "Poor Story", cursive;
  font-size: 1.3rem;
  padding: 0.3rem 2rem;
  color: white;
  background-color: #667b87;
  border: 1.5px solid #DDDDDD;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.contact .contact-section-container .btn-container .send-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.contact .contact-section-container .btn-container .mailer-open-btn {
  font-family: "Poor Story", cursive;
  font-size: 1.3rem;
  padding: 0.3rem 2rem;
  color: white;
  background-color: #667b87;
  border: 1.5px solid #DDDDDD;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.contact .contact-section-container .btn-container .mailer-open-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.contact .contact-section-container .btn-container p {
  font-size: 1.5rem;
}
.contact .contact-section-container .email-copy-container {
  margin: 1.7rem auto;
}
.contact .contact-section-container .email-copy-container .email-title-msg {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact .contact-section-container .email-copy-container #email {
  font-family: "Poor Story", cursive;
  font-size: 1.7rem;
  color: white;
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
}
.contact .contact-section-container .email-copy-container .email-copy-btn {
  font-family: "Poor Story", cursive;
  font-size: 1.4rem;
  padding: 0.2rem 2rem;
  color: white;
  background-color: #667b87;
  border: 1.5px solid #DDDDDD;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  margin: 1rem 3rem 3rem;
  cursor: pointer;
}
.contact .contact-section-container .email-copy-container .email-copy-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (min-width: 1024px) {
  .contact .contact-text {
    font-size: 2rem;
  }
  .contact .contact-section-container .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .contact .contact-section-container .btn-container .send-btn {
    font-family: "Poor Story", cursive;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    color: white;
    background-color: #667b87;
    border: 1.5px solid #DDDDDD;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }
  .contact .contact-section-container .btn-container .send-btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .contact .contact-section-container .btn-container .mailer-open-btn {
    font-family: "Poor Story", cursive;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    color: white;
    background-color: #667b87;
    border: 1.5px solid #DDDDDD;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }
  .contact .contact-section-container .btn-container .mailer-open-btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .contact .contact-section-container .btn-container p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
