@use './config/mixin' as *;
@use './config/variables' as *;
@use './config/common-setting' as *;

.contact{
    .contact-text{
        font-size: 1.5rem;
        text-align: center;
        margin: 1.5rem auto;
    }
    .icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: white;
        }
        i{
            margin: .5rem;
            font-size: 1.3rem;
        }
    }
    .contact-section-container{
        @include flexColumnCenter();
        form{
            width: 90%;
            table{
                margin: 1rem auto;
                width: 100%;
                th{
                    width: 10%;
                    font-size: 1rem;
                }
                td{
                    padding: .2rem;
                    width: 60%;
                    input{
                        padding: .3rem;
                        width: 90%;
                        font-family: $home-font;
                        font-size: 1rem;
                    }
                    textarea{
                        width: 90%;
                        font-family: $home-font;
                        font-size: 1rem;
                    }
                }
            }
        }
        .btn-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .send-btn{
                font-family: $home-font;
                font-size: 1.3rem;
                padding: .3rem 2rem;
                color: white;
                background-color: $dark-gray;
                border: 1.5px solid $light-gray;
                border-radius: 10px;
                position: relative;
                transition: .3s;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
            .mailer-open-btn{
                font-family: $home-font;
                font-size: 1.3rem;
                padding: .3rem 2rem;
                color: white;
                background-color: $dark-gray;
                border: 1.5px solid $light-gray;
                border-radius: 10px;
                position: relative;
                transition: .3s;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
            p{
                font-size: 1.5rem;
            }
        }
        .email-copy-container{
            margin: 1.7rem auto;
            .email-title-msg{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            #email{
                font-family: $home-font;
                font-size: 1.7rem;
                color: white;
                background-color: transparent;
                border: none;
                display: block;
                margin: 0 auto;
            }
            .email-copy-btn{
                font-family: $home-font;
                font-size: 1.4rem;
                padding: .2rem 2rem;
                color: white;
                background-color: $dark-gray;
                border: 1.5px solid $light-gray;
                border-radius: 10px;
                position: relative;
                transition: .3s;
                margin: 1rem 3rem 3rem; 
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }
    }
}


@media screen and (min-width: 1024px){
    .contact{
        .contact-text{
            font-size: 2rem;
            margin: 1.5rem auto 0;
        }
        .contact-section-container{
            form{
                width: 60%;
            }
            .btn-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                .send-btn{
                    font-family: $home-font;
                    font-size: 1.3rem;
                    padding: .3rem 2rem;
                    color: white;
                    background-color: $dark-gray;
                    border: 1.5px solid $light-gray;
                    border-radius: 10px;
                    position: relative;
                    transition: .3s;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.1);
                        transition: 0.5s;
                    }
                }
                .mailer-open-btn{
                    font-family: $home-font;
                    font-size: 1.3rem;
                    padding: .3rem 2rem;
                    color: white;
                    background-color: $dark-gray;
                    border: 1.5px solid $light-gray;
                    border-radius: 10px;
                    position: relative;
                    transition: .3s;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.1);
                        transition: 0.5s;
                    }
                }
                p{
                    font-size: 1.5rem;
                }
            }   
        }
    }
}

//https://www.jungleocean.com/programming/190308tooltip-css