@use './config/mixin' as *;
@use './config/variables' as *;
@use './config/common-setting' as *;


.lp-body{
    font-family: $home-font;
    color: $dark-gray;
    position: relative;
    .cursor{        
        z-index: 1001;
        position: absolute;
        top: 0;
        left: 0; 
        transform: translate(-50%,-50%);
    }
    
    .balloon-wrapper{
        width: 100vw;
        height: 100vh;
        animation: floating 1s infinite ease-in-out .8s alternate;
        @include flexColumnCenter();
        .balloon-body{
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background-color: white;
            border: 2.5px solid $main-color;
            position: relative;
            cursor: pointer;
            .eyes-wrapper{
                display: flex;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                .left-eye-outline{
                    @include eyesOutline();
                    .left-eyeball{
                        @include eyeBalls();
                        left: 39%;
                        z-index: 1000;
                        transition: transform linear .2s;
                    }
                    .changed-left-eyeball{
                        visibility: hidden;
                        width: 22px;
                        height: 1px;
                        background-color: $dark-gray;
                        border: 1px solid $dark-gray;
                        position: absolute;
                        top: 45%;
                        left: 30%;
                        &::after{
                            @include changed-eyeBalls(45deg, -7.5px, 20%);
                        }
                        &::before{
                            @include changed-eyeBalls(-45deg, 5.5px, 20%);
                        }
                    }
                }
                .right-eye-outline{
                    @include eyesOutline();
                    .right-eyeball{
                        @include eyeBalls();
                        left: 5%;
                        z-index: 1000;
                        transition: transform linear .2s;
                    }
                    .changed-right-eyeball{
                        visibility: hidden;
                        width: 22px;
                        height: 1px;
                        background-color: $dark-gray;
                        border: 1px solid $dark-gray;
                        position: absolute;
                        top: 45%;
                        left: 10%;
                        &::after{
                            @include changed-eyeBalls(-45deg, -7.5px, -22%);
                        }
                        &::before{
                            @include changed-eyeBalls(45deg, 5.5px, -22%);
                        }                
                    }
                }
            }
        }
        .balloon-tail{
            width: 20px;
            height: 20px;
            opacity: .9;
            background-color: $main-color;
            border: 2px solid $main-color;   
            clip-path: polygon(0% 100%, 20% 0%, 80% 0%, 100% 100%);
        }
        .balloon-string{
            height: 60px;
            background-color: $main-color;
            border: 1px solid $main-color;
        }
    }
    
    .bubble-wrapper{
        position: absolute;
        top: 20%;
        right: 2%;
        .bubble{
            width: 7rem;
            height: 4rem;
            border: 2px solid $dark-gray;
            border-radius: 50%;
            position: relative;
            @include flexCenter();
            .bubble-text{
                font-size: 1.3rem;
            }
        }
        .small-bubbles{
            width: 22px;
            height: 22px;
            border: 2px solid $dark-gray;
            border-radius: 50%;
            position: absolute;
            bottom: -30%;
            left: 2%;
            &::after{
                content: '';
                width: 10px;
                height: 10px;
                border: 2px solid $dark-gray;
                border-radius: 50%;
                position: absolute;
                bottom: -100%;
                left: -60%;
            }
        }
    }  
    .top-area{
        position: absolute;
        top: 0;
        width: 100%;
        height: 25vh;
        background: linear-gradient($main-color, white);
        @include flexColumnCenter();
    }
    .bottom-area{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 35vh;
        background: linear-gradient(white, $main-color) ;
        @include flexColumnCenter();
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.4rem;
        }
    }
}


@media screen and (min-width: 768px) {
    .lp-body{
        height: 100vh;
        .top-bottom-text{
            padding: 2rem 3rem;
            p{
                font-size: 3.5rem;
            }
            .top-text{
                align-self: flex-start;
            }
            .bottom-text{
                align-self: flex-end;
            }   
        }
        .balloon-wrapper{
            .balloon-body{
                width: 200px;
                height: 200px;
                .eyes-wrapper{
                    .left-eye-outline{
                        width: 60px;
                        height: 70px;
                        .left-eyeball{
                            width: 30px;
                            height: 30px;
                        }
                        .changed-left-eyeball{
                            left: 40%;
                            width: 30px;
                            &::after{
                                @include changed-eyeBalls(45deg, -10.5px, 22%);
                                width: 25px;
                            }
                            &::before{
                                @include changed-eyeBalls(-45deg, 8.5px, 22%);
                                width: 25px;
                            }
                        }
                    }
                    .right-eye-outline{
                        width: 60px;
                        height: 70px;
                        .right-eyeball{
                            width: 30px;
                            height: 30px;
                        }
                        .changed-right-eyeball{
                            width: 30px;
                            &::after{
                                @include changed-eyeBalls(-45deg, -9.5px, -22%);
                                width: 25px;
                            }
                            &::before{
                                @include changed-eyeBalls(45deg, 7.5px, -22%);
                                width: 25px;
                            }                
                        }
                    }
                }
            }
            .balloon-string{
                height: 80px;
            }
        }

        .bubble-wrapper{
            top: 20%;
            right: 20%;
            .bubble{
                width: 9rem;
                height: 6rem;
                .bubble-text{
                    font-size: 1.8rem;
                }
                .small-bubbles{
                    width: 25px;
                    height: 25px;
                    &::after{
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .lp-body{
        .top-bottom-text{
            .letter{
                font-size: 4rem;
            }
        }
        .balloon-wrapper{
            .balloon-body{
                width: 180px;
                height: 180px;
                .eyes-wrapper{
                    top: 45%;                    
                    transform: translate(-50%, -50%);
                    .left-eye-outline{
                        width: 55px;
                        height: 65px;
                        .left-eyeball{
                            width: 25px;
                            height: 25px;
                            left: 45%;
                        }
                        .changed-left-eyeball{
                            width: 35px;
                            top: 45%;
                            left: 25%;
                            border-width: 2px;
                            &::after{
                                @include changed-eyeBalls(45deg, -11px, 30%);
                                width: 25px;
                                border-width: 2px;
                            }
                            &::before{
                                @include changed-eyeBalls(-45deg, 7px, 30%);
                                width: 25px;
                                border-width: 2px;
                            }
                        }
                    }
                    .right-eye-outline{
                        width: 55px;
                        height: 65px;
                        .right-eyeball{
                            width: 25px;
                            height: 25px;
                            left: 8%;
                        }
                        .changed-right-eyeball{
                            width: 35px;
                            top: 45%;
                            left: 13%;
                            border-width: 2px;
                            &::after{
                                @include changed-eyeBalls(-45deg, -11px, -30%);
                                width: 25px;
                                border-width: 2px;
                            }
                            &::before{
                                @include changed-eyeBalls(45deg, 7px, -30%);
                                width: 25px;                            
                                border-width: 2px;
                            }
                        }
                    }
                }
            }
            .balloon-tail{
                width: 30px;
                height: 30px;
            }
            .balloon-string{
                height: 100px;
            }
        }


        .bubble-wrapper{
            top: 10%;
            right: 20%;
            .bubble{
                width: 150px;
                height: 100px;
                .bubble-text{
                    font-size: 2rem;
                }
            }
            .small-bubbles{
                width: 30px;
                height: 30px;
                &::after{
                    content: '';
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .bottom-area{
            height: 30vh;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.8rem;
            }
        }
    }

}