@use './config/mixin' as *;
@use './config/variables' as *;
@use './config/common-setting' as *;

.header-nav{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
    text-align: end;
    line-height: 2;
    cursor: pointer;
    .header-nav-item{
        color: white;
        font-size: 1.5rem;
        &:hover{
            transform: scale(1.2);
        }
        li{
            list-style: none;
        }
    }
}

.main-nav{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    z-index: 10;
    transition: .5s;
    opacity: 0;
    &.upMove{
        animation: FrameInAnimation 0.5s forwards;
    }
    &.downMove{
        animation: FrameOutAnimation 0.5s forwards;
    }
    &.nav-light-mode{
        background: linear-gradient($main-dark-color, transparent);
    }
    &.nav-dark-mode{
        background: linear-gradient(#222f68, transparent);
    }

    .main-nav-item{
        color: white;
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem 1.5rem;
        transition: .5s;
        &:hover{
            transform: scale(1.2);
        }
        li{
            list-style: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .header-nav{
        margin: 1rem auto;
        .header-nav-item{
            font-size: 1.7rem;
        }
    }
    .main-nav{
        justify-content: flex-start;
        .main-nav-item{
            font-size: 1.2rem;
            margin: 1rem 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header-nav{
        .header-nav-item{
            font-size: 2rem;
        }
    }
}