@use './config/mixin' as *;
@use './config/variables' as *;
@use './config/common-setting' as *;


.projects{
    .section-contents{
        .project-list{
            list-style: none;
        }
    }
    .display-description{
        display: flex;
        flex-direction: column;
        margin: 2rem auto 4rem;
        align-items: stretch;
        .project-img-container{
            display: none;
        }
        .description-container{
            width: 100%;
            height: 25rem;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .project-title-container{
                @include flexCenter();
                .project-title{
                    font-size: 1.5rem;
                    color: white;
                }                    
            }
            .mobile-project-img-container{
                width: 100%;
                height: 30rem;
                background-color: white;
                margin: 1rem auto;
                cursor: pointer;
                @include flexCenter();
                &:hover{
                    transform: scale(1.03);
                    transition: .5s;
                }
                a{
                    color: black;
                }
            }
            .discription-container{
                .project-description{
                    font-size: 1.3rem;
                }
                .skill-icons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1.5rem auto;
                    i{
                        margin: .3rem;
                        font-size: 1.5rem;
                    }
                    img{
                        width: 2rem;
                    }
                }
            }
            .github-icon-bubble{
                cursor: pointer;
                .github-link{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-github{
                        color: white;
                        font-size: 2rem;
                        transform-origin: center bottom;
                        animation: swaing 2s linear infinite;
                    }
                    .check-github{
                        position: relative;
                        padding: 0.6em;
                        background: #e0edff;
                        color: black;
                        margin-left: 1.5rem;
                        border-radius: 10px;
                        &:before{
                            position: absolute;
                            content: '';
                            border: 10px solid transparent;
                            border-right: 10px solid  #e0edff;
                            top: 15px;
                            left: -20px;
                        }
                    }
                }
            }
            
        }
    }
}



@media screen and (min-width: 768px) {
    .projects{
        .display-description{
            display: flex;
            flex-direction: row;
            .project-img-container{
                display: block;
                width: 100%;
                background-color: white;
                cursor: pointer;
                @include flexCenter();
                &:hover{
                    transform: scale(1.03);
                    transition: .5s;
                }
                a{
                    color: black;
                }
            }
            .description-container{
                width: 100%;
                height: 25rem;
                padding: 0 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .project-title-container{
                    @include flexCenter();
                    .project-title{
                        font-size: 1.5rem;
                        color: white;
                    }                    
                }
                .mobile-project-img-container{
                    display: none;
                }
                .discription-container{
                    .project-description{
                        font-size: 1.3rem;
                    }
                    .skill-icons{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 1.5rem auto;
                        i{
                            margin: .3rem;
                            font-size: 1.5rem;
                        }
                        img{
                            width: 2rem;
                        }
                    }
                }
                .github-icon-bubble{
                    cursor: pointer;
                    .github-link{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .fa-github{
                            color: white;
                            font-size: 2rem;
                            transform-origin: center bottom;
                            animation: swaing 2s linear infinite;
                        }
                        .check-github{
                            position: relative;
                            padding: 0.6em;
                            background: #e0edff;
                            color: black;
                            margin-left: 1.5rem;
                            border-radius: 10px;
                            &:before{
                                position: absolute;
                                content: '';
                                border: 10px solid transparent;
                                border-right: 10px solid  #e0edff;
                                top: 15px;
                                left: -20px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .projects{
        .display-description{
            .description-container{
                padding: 0 2rem 0 3rem;
                .project-title-container{
                    .project-title{
                        font-size: 1.7rem;
                    }                    
                }
                .mobile-project-img-container{
                    display: none;
                }
                .discription-container{
                    .project-description{
                        font-size: 1.3rem;
                        text-align: start;
                    }
                    .skill-icons{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 1.5rem;
                        i{
                            margin: .5rem;
                            font-size: 1.5rem;
                        }
                        img{
                            width: 2rem;
                        }
                    }
                }
                .github-icon-bubble{
                    cursor: pointer;
                    .github-link{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .fa-github{
                            color: white;
                            font-size: 2rem;
                            transform-origin: center bottom;
                            animation: swaing 2s linear infinite;
                        }
                        .check-github{
                            position: relative;
                            padding: 0.6em;
                            background: #e0edff;
                            color: black;
                            margin-left: 1.5rem;
                            border-radius: 10px;
                            &:before{
                                position: absolute;
                                content: '';
                                border: 10px solid transparent;
                                border-right: 10px solid  #e0edff;
                                top: 15px;
                                left: -20px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}