@use './config/mixin' as *;
@use './config/variables' as *;
@use './config/common-setting' as *;

.projects{
    .section-contents{
        .project-list{
            list-style: none;
        }
    }
    .display-description{
        display: flex;
        padding: 1rem 3rem;
        margin: 1rem auto 2rem;
        align-items: stretch;
        .project-img-container{
            width: 100%;
            padding: 10rem 5rem;
            background-color: white;
            cursor: pointer;
            @include flexCenter();
            &:hover{
                transform: scale(1.03);
                transition: .5s;
            }
            a{
                color: black;
            }
        }
        .description-container{
            width: 100%;
            padding: 0 1rem 0 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .github-link{
                .project-title-container{
                    @include flexCenter();
                    margin-bottom: 1rem;
                    .project-title{
                        font-size: 2rem;
                        color: white;
                    }
                    .fa-github{
                        margin-left: 1rem;
                        color: white;
                        font-size: 2rem;
                    }
                }
            }
            .project-description{
                margin-bottom: 1.5rem;
                font-size: 1.5rem;
            }
            .skill-icons{
                i{
                    margin: .3rem;
                    font-size: 1.7rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .projects{
        .display-description{
            align-items: stretch;
            .project-img-container{
                height: auto;
                padding: 0;
                &:hover{
                    transform: scale(1.03);
                    transition: .5s;
                }
                a{
                    color: black;
                }
            }
            .description-container{
                width: 100%;
                padding: 0 1rem 0 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .github-link{
                    .project-title-container{
                        @include flexCenter();
                        margin-bottom: 1rem;
                        .project-title{
                            font-size: 1.7rem;
                            color: white;
                        }
                        .fa-github{
                            margin-left: 1rem;
                            color: white;
                            font-size: 1.5rem;
                        }
                    }
                }
                .project-description{
                    margin-bottom: 1.5rem;
                    font-size: 1.5rem;
                }
                .skill-icons{
                    i{
                        margin: .3rem;
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}