//Colors

$main-color: #72DDF7;
// $main-color: #A9FFF7;

$sub-green-color: #94FBAB;
$sub-pink-color: #E8AEB7;

$light-gray: #DDDDDD;
$dark-gray: #667b87;

$home-color: #173753;


//Fonts
$lp-font: 'Tapestry', cursive;
$home-font: 'Poor Story', cursive;

