//Colors

$main-color: #72DDF7;
$main-dark-color: #4072ae;

$light-gray: #DDDDDD;
$dark-gray: #667b87;

$home-color: #173753;


//Fonts
$lp-font: 'Tapestry', cursive;
$home-font: 'Poor Story', cursive;

